<%- include('partials/header'); %>

    <main id="site-main">
        <div class="container">
            <div class="unii1 ">
                <span class="unii2">Car Details</span>
            </div>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th><a href="/owner">Owner ID</a></th>
                        <th>Car ID</th>
                        <th>Model Name</th>
                        <th>Year</th>
                        <th>Color</th>
                        <th>Price</th>
                        <th><a href="/policies">Policy ID</a></th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>


                    <% rows.forEach( (row)=> { %>
                        <tr>
                            <td>
                                <%= row.ownerid %>
                            </td>
                            <td>
                                <%= row.carid %>
                            </td>
                            <td>
                                <%= row.model %>
                            </td>
                            <td>
                                <%= row.year %>
                            </td>
                            <td>
                                <%= row.color %>
                            </td>
                            <td>
                                <%= row.price %>
                            </td>
                            <td>
                                <%= row.policy_id %>
                            </td>
                            <td>
                                <a href="/cars/<%= row.carid %>/edit" class = "mini ui inverted brown button">
                                    <span><i>Edit</i></span>
                                </a>
                                <form id="deletebutton" action="/cars/<%= row.carid %>/delete" method="POST">
                                    <button class="mini ui inverted red button">Delete</button>
                                </form>
                            </td>
                        </tr>
                        <% }); %>

                </tbody>
            </table>
        </div>
    </main>


    </body>

    </html>