
<%- include('partials/header'); %>

<div class="ui main text container segment" style="margin-top: 6em;">
    <div class="ui huge header">Edit Approval form id: <%=rows[0].approval_id%></div>
    <form class="ui form" action="/approval/<%=rows[0].approval_id%>" method="POST">
        
        <div class="field">
            <label>Approval ID</label>
            <input type="number" name="aid" value="<%=rows[0].approval_id%>" placeholder="eg: 101001" id="">
        </div>
        <div class="field">
            <label for="">Approval Status</label>
            <input type="text" name="status" value="<%=rows[0].approval_status%>" placeholder="eg: Approved/Rejected/Pending" id="">
            <!-- <select name="status" id="">
                <option value="Approved">Approved</option>
                <option value="Rejected">Rejected</option>
                <option value="Pending">Pending</option>
            </select> -->
        </div>
        <div class="field">
            <label for="">Application Id</label>
            <input type="number" name="appid" value="<%=rows[0].app_id%>" placeholder="eg: 2000" id="">
            <!-- <select id="" name="appid">
            <% rows.forEach( (row)=> { %>
                <option value="<%= row.app_id %>"> <%= row.app_id %> </option>
            <% }); %>
            </select> -->
        </div>

        <button class="ui inverted secondary button" type="submit">Update form to Database</button>
    </form>
</div>


</body>
</html>