

<%- include('partials/header'); %>
    


    <!-- <header id="header">
        <nav>
            <div class="container">
                <div class="text-center">
                    <a href="/" class="nav-brand text-dark">Carlife</a>
                </div>
            </div>
        </nav>
    </header> -->


    <main id="site-main">
        <div class="container">
            
            
            <div class="unii1 ">
                    <span class="unii2">Owner Details</span>
            </div>
            
            <!-- <div class="box-nav d-flex justify-between">
                <a href="/" class="border-shadow">
                    <span class="text-gradient"></span>
                    <span class="">Owner</span>
                </a>
            </div> -->

                <table class="table">
                    <thead class="thead-dark">
                      <tr>
                        <% fields.forEach( (field) => { %>
                            <th><%= field.name %></th>
                        <% }); %>
                        <th>Action</th>        
                      </tr>  
                    </thead>
            <tbody>
                <% rows.forEach( (row) => {  %>
                    <tr>
                        <td><%= row.OwnerId %></td>
                        <td><%= row.Name %></td>
                        <td><%= row.Phone %></td>
                        <td><%= row.Location %></td>
                        <td><%= row.Pin %></td>
                        <td>
                            <a href="/owner/<%= row.OwnerId %>/edit" class = "mini ui inverted brown button">
                                <span><i>Edit</i></span>
                            </a>
                            <form id="deletebutton" action="/owner/<%= row.OwnerId %>/delete" method="POST">
                                <button class="mini ui inverted red button">Delete</button>
                            </form>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
                </table>
        </div>
    </main>


</body>
</html>
